<!DOCTYPE html>
@model System.Web.Mvc.HandleErrorInfo
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h2>Ocorreu um erro ao processar sua solicitação.</h2>
        <h3>@Model.Exception</h3>
    </hgroup>
</body>
</html>
